.hero {
    display: block;
    background-image: url(../../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 500px;
    width: 100%;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.subtitle {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}