.titleContainer {
    display: block;
    background-image: url(../../images/about2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #000;
    text-align: center;
    background: rgba(245, 247, 250, 0.7);
}

.whyUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 50px 50px;
    margin: 0 auto;
    gap: 30px;
}

.itemTitle {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.itemText {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.conclusion {
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}