.section {
    padding: 50px 50px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #000;
}

.philosophyContent {
    display: flex;
    max-width: 1240px;
    font-size: 20px;
    line-height: 1.6;
    color: #000;
}

.philosophyImage {
    width: 600px;
    height: auto;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.philosophyText {
    margin-right: 40px;
}

.philosophyQuote {
    font-style: italic;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #555;
}