@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #f5f7fa;
    color: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
div,
textarea {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}