.section {
    background-image: url(../../images/contacts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.container {
    background: rgba(245, 247, 250, 0.7);
}

.titleContainer {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.contactsContainer {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.itemTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.itemText {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.list {
    display: flex;
    gap: 20px;
}

.listItem {
    max-width: 200px;
}